@media screen and (max-width: 600px){
    #myDate{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .weather-box{
        width: 400px;
    }
    .forecast-flex{
        width: 400px;
    }
}

h1 {
    color:  white;
}

.weather-box{
    grid-area: 1/2/2/3;
    display: inline-grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 25% 25% 25% 25%;
    max-width: 800px;
    color: white;
}

body {
    background-image: url('berlin.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    font-family: "Rubik", "Helvetica Neue", sans-serif;
}

.my-grid {
    display: inline-grid;
    grid-template-columns: 33% 34% 33%;
}

.button{
    background-color: #e7e7e7; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Rubik", "Helvetica Neue", sans-serif;
    width: auto;
}

html{
    height: 100%
}

#get-weather-button{
    grid-area: 1/1/2/2;
    width: min-content;
    height: min-content;
}

#get-forecast-button{
    grid-area: 2/1/3/2;
    width: min-content;
    height: min-content;
}

.myContainer{
    margin-top: 100px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: flex-start;

}

.forecast-box{
    display: grid;
    grid-template-rows: 20% 60% 20%;
    max-width: 800px;
    color: white;
}

.MyFlex{
    flex-basis: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
